*{
	margin: 0px;
	padding: 0px;
}
body{
	color: white;
}
header{
	position: fixed;
	top: 0px;
	width: 100%;
	overflow: hidden;
	background: #2e2c41;
	margin-bottom: 10px;
}

header .logo{
	color: white;
	font-size: 30px;
	line-height: 70px;
	float: left;
	margin-left: 5%;
}
header nav{
	float: right;
	line-height: 70px;
	margin-right: 5%;
}
header nav a{
	color:white;
	text-decoration: none;
	padding: 10px;
	margin-right: 10px;
	font-size: 12px;
	font-weight: bold;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
header nav a:hover{
	background: #18c49f;
	border-radius: 50px;
}
.flex-contenido{
	display: flex;
	padding: 20px;
}
.contenido{
	padding: 10%;
	padding-top: 100px;
	background-color: #18c49f;
	overflow: hidden;
	/*para el texto*/
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}
.imagn1{
	overflow: hidden;
	align-items: center;
	flex-direction: row;
}
.texto{
	font-size:50px;
}
/*Parte del portafolio*/
.flex-portafolio{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	color: black;
}
.portafolio1{
	margin-top: 5%;
}
.texto-portafolio{
	display: flex;
	justify-content: center;
	align-items: center;
}
.portafolio:before, .portafolio:after{
	content: " ";
	display: table; 
}
.portafolio:after {
	clear: both;
}
[class*="columnas-"]{
	/*min-height: 7px;*/
	/*padding: 12px;*/
	float: left;
	background: purple;
	margin: 3%;
	width:27%;
	height:260px; 
	display: flex;
	justify-content: center;
}
.columnas-1{
	background-image: url(../assets/images/portfolio/cabin.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.columnas-2{
	background-image: url(../assets/images/portfolio/cake.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.columnas-3{
	background-image: url(../assets/images/portfolio/circus.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.columnas-4{
	background-image: url(../assets/images/portfolio/game.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.columnas-5{
	background-image: url(../assets/images/portfolio/safe.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.columnas-6{
	background-image: url(../assets/images/portfolio/submarine.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
/*parte del about*/
.flex-about{
	display: flex;
	justify-content:center;
	background-color: #18c49f;
}
.about{
	margin-top: 5%;
}
.textos{
	margin-top: 2%;
	display: flex;
	justify-content:center;
}
.texto-1{
	/*border: 1px solid black;*/
	width: 20%;
	padding: 1%;
}

.texto-2{
	/*border: 1px solid black;*/
	width: 20%;
	padding: 1%;
}
.btn-descarga{
	margin-top: 2%;
	margin-bottom: 6%;
	padding: 2px;
	display: flex;
	justify-content:center;
}
.boton{
	padding: 15px;
	width: 15%;
	border-radius: 10px;
	background: transparent;
	font-weight: bold;
	color: white;
	font-size: 15px;
}

/*Parte de contacto*/
.flex-contacto{
	display: flex;
	justify-content:center;
	background-color: purple;

}
.contacto{
	margin-top: 5%;
}
.texto-contacteme{
	color: black;
	display: flex;
	justify-content: center;
	margin-top: 10%;
	margin-top: 5%;

}

.input{
	display: flex;
	flex-direction:column;
	margin-top: 15%;

}
.btn-send{
	margin-top: 50%;
	margin-bottom: 40%;
	padding: 2px;
}

/*footer*/
footer {
	background:#2c3e50;
	width: 100%;
	padding:20px;
 
	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
 
footer .links {
	background:#c0392b;
	display:flex;
	flex-wrap:wrap;
}
 
footer .links a {
	flex-grow:1;
 
	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}
 
footer .links a:hover {
	background:#E74C3C;
}